<!-- Carousel -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="assets/niño_avion.png" alt="niño_avion">
      <div class="carousel-caption">
        <h3>¡Haz tus sueños realidad!</h3>
        <p>
					Encuentra los mejores cursos que te ayuden a alcanzar tus sueños.
        </p>
      </div>
    </div>
    
    <div class="item">
      <img src="assets/responsive.png" alt="responsive">
      <div class="carousel-caption">
        <h3>Disponible en cualquier dispositivo</h3>
        <p>Puedes accer a ConnectionPoint por medio de cualquier dispositivo móvil</p>
      </div>
    </div>

    <div class="item">
      <img src="assets/office.png" alt="office">
      <div class="carousel-caption">
        <h3>Nos esforzamos cada día...</h3>
        <p>
        	...en conectarte con personas 
        	aptas para servir como mentores y educadores, y así puedas 
        	sentir total comidad a la hora de aprender </p>
      </div>
    </div>

    <div class="item">
      <img src="assets/business_men.png" alt="business_men">
      <div class="carousel-caption">
        <h3>Conoce nuevas personas</h3>
        <p>Que te ayuden a potencializar tus fortalezas y superar tus debilidades.</p>
      </div>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- ./Carousel -->

<h1 class="text-center" style="margin-bottom: 20px">Conócenos</h1>
<div class="container">
	<div class="row">
		<div class="card">
			<p style="margin-bottom: 40px" class="text-justify">
         Si estás buscando formarte en desarrollo de aplicaciones, lógica de programación, matemáticas, ciencias sociales o biología, esta página es para ti, ofrecemos cursos de alta calidad que te ayudarán a adquirir nuevos conocimientos, potencializar tus habilidades y superar todos los obstáculos y además podrás gozar de una plataforma simple y cómoda.  Queremos acompañarte en la construcción de tus habilidades y desarrollo para enfrentar un mundo lleno de constantes retos. 
			</p>
			<img src="assets/arrow.jpg" alt="arrow" class="img-responsive">
		</div>
		</div>	
	</div>
</div>