#register_form h2 {
	margin-bottom: 50px;
}

#login_form h2 {
	margin-bottom: 50px;
}

#edit_form h2 {
	margin-bottom: 50px;
}

footer {
	margin-top: 100px;

}

#carousel-example-generic img {
	width: 100%;
}

.card {
	background-color: #d6d6d6;
	padding: 50px;
	margin: 20px 80px;
}

@media (min-width: 768px) {
	#register_form {
		width: 50%;
	}

	#login_form {
		width: 50%;
	}

	#edit_form {
		width: 50%;
	}
}

