#register_form h2 {
	margin-bottom: 50px;
}

#login_form h2 {
	margin-bottom: 50px;
}

footer {
	margin-top: 100px;
}

label.required:after {
  content:" *";
}


@media (min-width: 768px) {
	#register_form {
		width: 50%;
	}

	#login_form {
		width: 50%;
	}
}



